body {
  background-color: #af650c;
}
h1 {
  color: #6DF00D;
  font-family: "Courier New Bold Italic"
    
}
h3 {
  color: #f0e50d;
  font-family: "Comic Sans MS"
}
ul {
  font-family: "Comic Sans MS";
    color: #f0e50d;  
}
 

